body.home div.pdn-news-carousel {
    height:450px;
}

div.carousel-caption h3 {
    font-size: 2.25rem;
    line-height: 2rem;
    margin: 5px 0px;
    font-weight: 400;
}

body.page-home a div.carousel-caption {
    margin-left: auto;
    margin-right: auto;
    padding: 1.125em 2em;
    padding-bottom: 4.6em;
    background-color: #efefef;
    opacity: .95;
    height: 60px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*body.page-home a div.carousel-caption {
    margin-left: auto;
    margin-right: auto;
/*    max-width: 1040px;*/
    padding: 2em;
/*    padding-bottom: 4.6em;*/
    background-color: #efefef;
    opacity: .9;
    height: 125px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}
*/

body.page-home div.breadcrumb, body.page-home section#main-navigation {
    display:none;
}

body.page-home a div.carousel-caption p {
    color: #444;
    letter-spacing:-.5px;
    margin:0;
}

@media (min-width: 920px) body.page-home a div.carousel-caption h3 {
    font-size: 2.5em;
    font-weight: 400;
    line-height: 1em;
    margin: 0 0 10px 0;
    letter-spacing:-1px;
}

@media (max-width: 768px) body.page-home a div.carousel-caption h3 {
    line-height: 2.2rem;
    font-size: 1.8rem;
    letter-spacing: -1px;
    margin-top: 0px;
}

body.page-home a:hover div.carousel-caption p {
    text-decoration: none !important;
}

.slick-arrow::before {
    color: #3b7b30;
}

.slick-arrow:hover::before {
    color: #295622;
}

@media screen and (max-width:650px) {
    div.pdn-news-carousel h3 {
        font-size: 1.625rem;
        line-height: 1.75rem;
        margin: -3px 0px 14px;
        font-weight: 400;
}
}

@media screen and (max-width:649px) { body.page-home a div.carousel-caption {
    height: 80px;
}}

@media screen and (max-width:649px) { body.home div.pdn-news-carousel {
    height: 250px;
}}