body.node-type-pd-faqs:not(.page-node-edit) section#main .section-wrapper .field-name-field-pdf-faq-items > .field-items > .field-item {
    padding: 0em 3.8333333333em 0em 3.8333333333em;
}


body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs p {
    margin-top: 0;
}

body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs h4,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs h3 {
    margin-bottom: 0.5rem;
}

body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active p {
    margin-top: 0;
    margin-bottom: 1rem;
}

body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active *,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active::after,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active::before {
    box-sizing: border-box;
}

body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active dl,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ol,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ul {
    margin-top: 0;
    margin-bottom: 1rem;

}

body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ul::before {
    margin-top: 0;
    margin-bottom: 1rem;
}

body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ol ol,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ol ul,
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ul ol, 
body.node-type-pd-faqs section#main div.section-wrapper div#content.column article.node-pd-faqs div.accordion-active ul ul {
    margin-bottom: 0;
}
