.pane-pdn-news-panel-pane-14 h2 a {
    text-decoration: none;
    }

.pane-pdn-news-panel-pane-14 h2 a:hover {
    text-decoration: underline;
    }

.pane-pdn-news-panel-pane-16 {
    border-top: 6px solid #3b7b30;
    padding: 0px 10px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 1.15em;
    }
    
.pane-pdn-news-panel-pane-16 h2.pane-title {
    margin-top: 0.7666666667em;
    margin-bottom: 0.7666666667em ;
    text-transform: uppercase;
}
.pane-pdn-news-panel-pane-16 h2.pane-title {
    font-size:1.44em;
}

.pane-pdn-news-panel-pane-16 div.views-row {
    width:100%;
    border-bottom: 1px solid #ccc;
    margin-bottom: .567em;
    padding-bottom: .567em;
}

.pane-pdn-news-panel-pane-16 div.views-row-last {
    border-bottom: none;
}

.pane-pdn-news-panel-pane-16 .views-field-title A{
    font-size: 93.75%;
    line-height: 1.357em;
    color: #3b7b30;
    font-weight: 300;
    text-decoration: none;
}

.pane-pdn-news-panel-pane-16 .more-link a {
    font-size: 16px;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fefefe;
    text-decoration:none;
    color: #3b7b30;
    border: 1px solid #3b7b30;
}

.pane-pdn-news-panel-pane-16 .more-link a:hover {
    color: #fefefe;
    background-color: #3b7b30;
}

.pane-pdn-news-panel-pane-16 div.more-link {
    text-align: center;
    display: table;
    float: right;
    padding-bottom: .567em;
}

.pane-pdn-news-panel-pane-14 .more-link a {
    font-size: 16px;
    padding: 0.5em 1.5em;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #fefefe;
    text-decoration:none;
    color: #3b7b30;
    border: 1px solid #3b7b30;
}

.pane-pdn-news-panel-pane-14 .more-link a:hover {
    color: #fefefe;
    background-color: #3b7b30;
}

.pane-pdn-news-panel-pane-14 div.more-link {
    text-align: center;
    display: table;
    float: right;
    padding-bottom: .567em;
}

.pane-pdn-news-panel-pane-16 .views-field-title a {
    font-size: 1.15em;
    text-decoration: none;
}

.pane-pdn-news-panel-pane-16 .views-field-title a:hover {
    text-decoration: underline;
}

.page-explore-pausd-superintendent div.pane-pdn-news-panel-pane-16, .page-explore-pausd-superintendent div.pane-pdn-news-panel-pane-10 {
    box-sizing: border-box;
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-top: 6px solid #3b7b30;
    margin: 1.15em 0px;
    padding: 0px 10px;
}

.page-explore-pausd-superintendent div.pane-pdn-news-panel-pane-16 h2.pane-title, .page-explore-pausd-superintendent div.pane-pdn-news-panel-pane-10 h2.pane-title {
    font-size: 0.9333333333em;
    line-height: -0.7666666667em;
    color: #444;
    font-family: "Fira Sans", Tahoma, Verdana, "DejaVu Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

/* Mobile Settings*/
@media (max-width: 480px) and (min-width: 0px), (max-width: 764px) and (min-width: 480px) {
.page-explore-pausd-superintendent div.panels-flexible-region.panels-flexible-region-38-center_bottom, .page-explore-pausd-superintendent div.panels-flexible-region.panels-flexible-region-38-left_, .page-explore-pausd-superintendent div.panels-flexible-region.panels-flexible-region-38-left.panels-flexible-region-first, .page-explore-pausd-superintendent div.panels-flexible-region.panels-flexible-region-38-right.panels-flexible-region-last  {
    float: left;
    width: 100%;
}}