div.pane-boxes-don-austin-twitter-box {
    border-radius: .42857em;
    border-width: 1px;
    border-style: solid;
    border-color: #E1E8ED;
    box-sizing: border-box;
    color: inherit!important;
    overflow: hidden;
}