.panels-flexible-67 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-67 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-67 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-67 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-67 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-67 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-67 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-67 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-67 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-67 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-67-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-67-inside {
  padding-right: 0px;
}

.panels-flexible-67 {
  width: auto;
}

.panels-flexible-region-67-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-67-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-67-news {
  float: left;
  width: 59.4000%;
}

.panels-flexible-region-67-events {
  float: left;
  width: 39.6000%;
}

.panels-flexible-row-67-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-67-grid {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-67-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-67-partners {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-67-3-inside {
  padding-right: 0px;
}

